<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="potd.css">
</head>
<body>
<div id="thisWorksBetterInMobileView">Please set your screen to mobile view to see this page. Thank you!</div>
<div id="wrapper">
    <img src="<%= potdData.url %>" alt="">
    <h1><%= potdData.title %></h1>
    <p><%= potdData.date %></p>
    <hr>
    <p><%= potdData.explanation %></p>
    </div>
</body>
</html>