<%- include('./partials/head') %>
<%- include('./partials/navbar') %>

<div class="centerWrapper"><h1>My Projects</h1></div>


<div class="projectGridContainer">
   <% for(let pDatas in pData) { %>
    <% const project = pData[pDatas]; %>
    <div class="card mb-4 shadow-sm" style="width: 18rem;">
        <img src="<%= project.projectImg %>" class="card-img-top" alt="..." style="height: 10rem; object-fit: cover;">
        <div class="card-body">
            <h5 class="card-title"><%= project.projectName %></h5>
            <a href="<%= project.projectLink %>" class="btn btn-primary me-2 mb-2">Project Link</a>
            <a href="<%= project.liveSiteLink %>" class="btn btn-secondary mb-2">Live Site</a>
        </div>
    </div>
<% } %>

</div>
<%- include('./partials/footer') %>