<%- include('./partials/head') %>
<%- include('./partials/navbar') %>

<div class="centerWrapper"><h1>My Projects</h1></div>

<div class="projectGridContainer">
   <% for(let pDatas in pData) { %>
        <% const project = pData[pDatas]; %>
        <div class="pGridItem">
            <h2><%= project.projectName %></h2>
            <a href="<%= project.githubLink %>">
                <img src="<%= project.projectImg %>" alt=""></a>
            <a href="<%= project.projectLink %>">GitHub</a>
            <a href="<%= project.liveSiteLink %>">Live Site</a>
        </div>
    <% } %>
</div>
<%- include('./partials/footer') %>