<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
</head>
<body>
    <h1>Edit or Delete Project!</h1>
    <form action="/projects/<%=projectData.id%>?_method=PUT" method="post" method="post">
    <br>
    <label for="projectName">project Name</label>
    <br>
    <input type="text" name="projectName" id="projectName" required value="<%= projectData.projectName %>">
    <!-- add value="data from the db" -->
    <br>
    <label for="projectImg">project Img (url)</label>
    <br>
    <input type="text" name="projectImg" id="projectImg" required value="<%= projectData.projectImg %>">
    <br>
    <label for="projectLink">project Link</label>
    <br>
    <input type="text" name="projectLink" id="projectLink" value="<%= projectData.projectLink %>">
    <br>
    <label for="liveSiteLink">live Site Link"</label>
    <br>
    <input type="text" name="liveSiteLink" id="liveSiteLink" value="<%= projectData.projectLink %>">
    <br>
    <label for="isHighLighted">Highlight:</label>
    <input type="checkbox" id="isHighLighted" name="isHighLighted" value="<%= projectData.isHighLighted %>">
    <br>
    <br>
    <label for="password">Password</label>
    <br>
    <input type="password" name="password" id="password" required>
    <button>Make New Project.</button>
    </form>
    <form action="/projects/<%=projectData._id%>?_method=DELETE" method="post">
    <label for="password">Password</label>
    <br>
    <input type="password" name="password" id="password" required>
    <button>Delete</button>
    </form>
    <a href="/projects/index">back</a>
</body>
</html>